@media print {
  body * {
    visibility: hidden;
  }

  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  h2{
    padding-bottom: 20px;

  }

  .row{
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

  .col-md-3{
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-top: 35px;
    border:1px dashed #d3d3d3;
  }

}